body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  header {
    background-color: #71C5E8;
    font-weight: bold;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  main {
    display: flex;
    justify-content: center;
  }

  img {
    margin-top: 20px;
    width: 1000px;
    border-radius: 10px;
  }